<h1>Create User</h1>
<a href="/" class="btn btn-success mb-3">&larr;- Back to home</a>
<form action="/create" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">email</label>
    <input type="email" name="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">phone</label>
    <input type="text" name="phone" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary mt-2">Save User</button>
</form>